<div class="tab active" data-tab="general">
    <div id="dice-gonfiguration-canvas" style="width: 800px; height: 150px"></div>
    <div class="form-group">
        <label>Modalità di Trasmissione Vocale</label>
        <select name="voiceMode">
            <option value="always">Sempre Abilitata</option>
            <option value="activity">Attivazione Voce</option>
            <option value="ptt" selected="">Push-to-Talk</option>
        </select>
        <p class="notes">Scegli la modalità di trasmissione della tua voce nelle chiamate AV.</p>
    </div>
</div>